<div class="container">
  <h1 style="text-align: center;color: goldenrod ">Contract</h1>
</div>

<div class="container mt-3">
  <table  class="table table-bordered table-hover">
    <thead>
    <tr style="text-align: center;color: goldenrod" class="table-dark">
      <th>Id</th>
      <th>Code</th>
      <th>Customer</th>
      <th>Service</th>
      <th>Employee</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Deposit</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let contract of contract">
      <td>{{contract.id}}</td>
      <td>{{contract.code}}</td>
      <td>{{contract.customer.name}}</td>
      <td>{{contract.service.name}}</td>
      <td>{{contract.employee.name}}</td>
      <td>{{contract.startDate}}</td>
      <td>{{contract.endDate}}</td>
      <td>{{contract.deposit}}</td>
      <td style="text-align: center">
        <a class="btn btn-warning " style="margin-left: 10px">Detail</a>
        <a class="btn btn-primary" style="margin-left: 10px">Edit</a>
        <a class="btn btn-danger" style="margin-left: 10px">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
