<nav class="navbar navbar-expand-lg navbar-success bg-success">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"  style="color: aliceblue">Home</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="list-customer" style="color: aliceblue">Customer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="list-employee" style="color: aliceblue">Employee</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="list-service" style="color: aliceblue">Service</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="list-contract" style="color: aliceblue">Contract</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="list-facilities" style="color: aliceblue">facility</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
