<div class="container">
  <table>
    <tr>
      <th>Name</th>
      <th><input type="text"></th>
    </tr>
    <tr>
      <th>Area</th>
      <th><input type="text"></th>
    </tr>
    <tr>
      <th>Cost</th>
      <th><input type="text"></th>
    </tr>
    <tr>
      <th>Max people</th>
      <th><input type="text"></th>
    </tr>
    <tr>
      <th>Rent type</th>
      <th><input type="text"></th>
    </tr>
    <tr>
      <th>Attach service</th>
      <th><input type="text"></th>
    </tr>
  </table>
  <a class="btn btn-success">Edit</a>
</div>
