<div class="container">
  <table>
    <tr>
      <th>Name</th>
      <th><input type="text"></th>
    </tr>
    <tr>
      <th>Birth day</th>
      <th><input type="text"></th>
    </tr>
    <tr>
      <th>Id card</th>
      <th><input type="text"></th>
    </tr>
    <tr>
      <th>Phone</th>
      <th><input type="text"></th>
    </tr>
    <tr>
      <th>Email</th>
      <th><input type="text"></th>
    </tr>
    <tr>
      <th>Salary</th>
      <th><input type="text"></th>
    </tr>
    <tr>
      <th>Education</th>
      <th><input type="text"></th>
    </tr>
    <tr>
      <th>Position</th>
      <th><input type="text"></th>
    </tr>
    <tr>
      <th>Division</th>
      <th><input type="text"></th>
    </tr>
  </table>
  <a class="btn btn-success"> </a>
</div>
