<div class="container">
  <table>
    <tr>
      <th>Code</th>
      <th><input type="text"></th>
    </tr>
    <tr>
      <th>Customer</th>
      <th><input type="text"></th>
    </tr>
    <tr>
      <th>Employee</th>
      <th><input type="text"></th>
    </tr>
    <tr>
      <th>Service</th>
      <th><input type="text"></th>
    </tr>
    <tr>
      <th>Star day</th>
      <th><input type="date"></th>
    </tr>
    <tr>
      <th>End day</th>
      <th><input type="date"></th>
    </tr>
    <tr>
      <th>Deposit</th>
      <th><input type="text"></th>
    </tr>
  </table>
</div>
